data/
.venv/
.venv-1/
.venv-2/
.venv-3/
outputs/
.vscode
tools/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.h5
*.hdf5
*.npy
*.npz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.7z
*.rar
*.gz
*.bz2
*.xz
*.ipynb_checkpoints
.DS_Store
Thumbs.db
